! urxvt configuration ---------------------------------------------------------
!
! General Settings
!
URxvt.font: 				xft:Source Code Pro Medium:size=11
URxvt.scrollBar: 			false
URxvt.cursorBlink: 			1
URxvt.cursorUnderline: 			1
!URxvt.cursorColor:			#0083ff
!
! Colours
!
URxvt.background: 			#000000
URxvt.foreground: 			#e5e5e5

URxvt.highlightColor:			#0083ff
URxvt.highlightTextColor:		#e5e5e5

URxvt.color0:  				#000000
URxvt.color8:  				#000000

URxvt.color1:  				#e5e5e5
URxvt.color9:  				#e5e5e5

URxvt.color2:  				#0083ff
URxvt.color10: 				#0083ff

URxvt.color3:  				#e5e5e5
URxvt.color11: 				#e5e5e5

URxvt.color4:  				#0111e8
URxvt.color12: 				#606060

URxvt.color5:  				#0083ff
URxvt.color13: 				#0083ff

URxvt.color6:  				#0057ff
URxvt.color14: 				#0057ff

URxvt.color7:  				#e5e5e5
URxvt.color15: 				#e5e5e5

! end urxvt config ------------------------------------------------------------
